[Unit]
Description=Meresco Harvest EduStandaard Domain

[Service]
User=harvester
ExecStart=/usr/bin/meresco-harvester --url=<harvester server url> --set-process-timeout=3600 --concurrency=2 --domain=edustandaard --runOnce
Restart=always
RestartSec=300

[Install]
WantedBy=multi-user.target